product-list {
    .wrapper {
        width: 100%;
        margin: 0 auto;
    }

    .item-desc{
        width: 85%;
        float: left;
    }

    .item-value {
        width: 15%;
        float: left;

    }
}
