product-list {
    .wrapper {
        width: 100%;
        margin: 0 auto;
    }

    .item-desc{
        width: 80%;
        float: left;
    }

    .item-value {
        width: 20%;
        float: left;

    }

    button {
        width: 77px;
    }
    .item-md {
        padding-left: 0px;
    }
}
